.about {
  padding: 100px 0 63px;

  &__subtitle {
    color: #828282;
    font-size: 25px;
    line-height: 1.4;
    font-style: italic;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
    padding-right: 133px;

    &::after {
      position: absolute;
      content: '';
      background-image:url('../images/header/line.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #08AE8D;
      top: 15px;
      right: -15px;
      width: 113px;
      height: 1px;
    }
  }

  &__text {
    max-width: 886px;
  }

  &__text p:nth-child(1) {
    color: #343434;
    font-size: 28px;
    @extend %poppins-400;
    margin-bottom: 25px;
  }

  &__text p:nth-child(2) {
    color: #828282;
    @extend %poppins-400;
    max-width: 805px;
  }

  &__items {
    padding: 63px 0 90px;
  } 

  &__list {
    display: flex;
  } 
}

.about__item {
  flex: 0 1 33.333%;
  padding-left: 30px;
  margin-right: 15px;
  border-left:1px solid #08AE8D;

  &-inner {
    display: flex;
    flex-direction: column;
    @extend %poppins-400;
  }
 
  &-title {
    display: block;
    font-size: 23px;
    color: #343434;
    margin-bottom: 10px;
  }

  &-text {
    font-size: 18px;
    color: #828282;
    max-width: 300px;
  }
}