@font-face {
  font-family: 'Poppins-Light', sans-serif;
  src:
      local('Poppins'),
      url('../fonts/Poppins-Light.woff2') format('woff2'),
      url('../fonts/Poppins-Light.woff') format('woff');
  font-style:normal;
  font-weight: 300;
  font-display: swap;
} 

@font-face {
  font-family: 'Poppins-Regular', sans-serif;
  src:
      local('Poppins'),
      url('../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium', sans-serif;
  src:
      local('Poppins'),
      url('../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}