.link {
  transition: color 0.3s;
  &:focus {
    color: #08AE8D;
  } 

  &:hover {
    color: #08AE8D;
  }

  &:active {
    color: #08AE8D;
  }
}

.btn-animation {
  transition: background 0.5s ease-in-out;
  &:hover {
    background: linear-gradient(to left, rgba(8, 174, 141, 0.8), rgba(31, 74, 191, 0.8));
  }
}