.questions {
  padding: 90px 0 65px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.accordion{
  &__item {
    background-color:#0D0C1F;
    margin-bottom: 25px;
  }

  &__control {
    font-size: 28px;
    @extend %poppins-400;
    width: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    color: #EFEFEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    transition: border 0.5s;
    cursor: pointer;
    text-align: left;

    &:hover .arrow-down {
      stroke:#08AE8D;
    }
  }

  &__btn {
    @include flexc();
    width: 40px;
    height: 40px;
    border: none;
    background: none;
  } 

  .arrow-down {
    stroke:#EFEFEF;
    fill:transparent;
    transition: stroke 0.3s;
  }

  &__content {
    font-size: 22px;
    color: #C4C4C4;
    max-width: 925px;
    position: relative;
    padding: 0 25px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s linear;
    max-height: 0;
    will-change: max-height;
    box-sizing: content-box;
  }
}

.active .accordion__content {
  padding: 25px 25px 50px;
  opacity: 1;
  max-height: 140px;
}

.active .accordion__control {
  border: 1px solid #08AE8D;
}

.active .accordion__control .arrow-down {
  stroke:#08AE8D;
}



