//mobile search form

.menu-search {
  height: 36px;
  width: 40px;
  background-color:transparent;
  border-radius: 30px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;

  &--active {
    width: 240px;
    background-color: rgba(#08AE8D, 0.8);
  }

  &__txt {
    position: absolute;
    top: 3px;
    left: 8px;
    width: calc(100% - 50px);
    border-radius: 20px;
    height: 30px;
    font-size: 18px;
    padding: 0 10px;
    @extend %poppins-300;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
  
    &::placeholder {
      font-size: 18px;
      @extend %poppins-300;
      color: #fff;
    }
  }

  &__btn {
    position: absolute;
    right: 8px;
    top: 4px;
    width: 25px;
    height: 24px;
    background-color: transparent;
    border: transparent;
    padding: 0;
    z-index: 10;
  }

  .search-icon {
    stroke:#EFEFEF;
    fill:#EFEFEF;
    transition: fill 0.3s, stroke 0.3s;
    position: relative;
    z-index: 9;

    &:hover {
      stroke:#08AE8D;
      fill:#08AE8D;
    }
  }
}

.menu__search {
  width: 40px;
  height: 30px;
  padding: 0 10px;
  position: relative;
  display: flex;

  &:hover .menu__txt {
    opacity: 1;
    visibility: visible;
    width: 220px;
  }

  .menu__txt {
    position: absolute;
    top: 28px;
    right: 0;
    font-size: 18px;
    padding: 3px 10px;
    @extend %poppins-300;
    border: none;
    outline: none;
    border-radius: 30px;
    opacity:0;
    visibility: hidden;
    width: 0px;
    transition: all 0.4s;
  
    &::placeholder {
      font-size: 18px;
      @extend %poppins-300;
      color: #343434;
    } 
  }

  .menu__txt--active {
    position: absolute;
    top: 28px;
    right: 0;
    font-size: 18px;
    padding: 3px 10px;
    @extend %poppins-300;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: all 0.4s;
    opacity: 1;
    visibility: visible;
    width: 220px;
  }

  .menu__btn {
    background-color: transparent;
    border: transparent;
    padding: 0;
    position: relative;
    z-index: 10;
  }

  .search-icon {
    stroke:#EFEFEF;
    fill:#EFEFEF;
    transition: fill 0.3s, stroke 0.3s;
    position: relative;
    z-index: 9;

    &:hover {
      stroke:#08AE8D;
      fill:#08AE8D;
    }
  }
}
